<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Somthing went wrong!</h1>
      <p>
       Unfortunately,somthing wrong on server - we're doing our best to fix this as quickly possible
      </p>
    </main>
  </body>
</html>