body{
    background-color: rgb(236, 252, 253);
    font-family:'Roboto',sans-serif;
}
h1 {
    text-align: center;
    margin: 2rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
form {
    width: 40rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}
section {
    margin-bottom: 1rem;
}
textarea {
    resize: vertical;
}
label {
    margin: .5rem 0;
    display: block;
    color: rgb(66, 76, 97);
    font-weight: bold;
    
}
input,
textarea ,select{
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: .25rem;
    color: rgb(61, 58, 58);
}
input:focus ,textarea:focus{
    background-color: rgb(219, 190, 253);
    color: rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}

button {
    display: block;
    font: inherit;
    color: white;
    background-color: rgb(32, 5, 63);
    border: 1px solid rgb(32, 5, 63);
    padding: .5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.3rem;
}
.btn {
    display: flex;
    justify-content:flex-end;
}
#btn {
 color: rgb(32, 5, 63);
 background-color: white;
}
#btn:hover {
    color: white;
    background-color: rgb(52, 14, 95);
}
button:hover{
    background-color: rgb(52, 14, 95);
    border-color: rgb(52, 14, 95);
}
.form-control-inline {
    display: flex;
}
.form-control-inline input{
    width: auto;
    margin-right: .5rem;
}